html, body, #svgContainer, #svgImage {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

polygon, ellipse {
    fill: none;
}

body.vscode-dark #svgContainer {
    filter: invert(1);
}

#svgContainer {
    position: fixed;
}


button {
    height: fit-content;
    width: fit-content;
    display: flex;
    padding: 2px;
    outline: none;
    margin: 0;
}

#openOptions {
    z-index: 9;
    position: fixed;
    top: 20px;
    right: 20px;
}
#openOptions i {
    transition: 0.2s;
}

#openOptions i:hover {
    transform: rotate(45deg);
}


#paramContainer {
    background: var(--vscode-editorWidget-background);
    max-height: 0px;
    transition: max-height 0.08s ease 0s;
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 10px;
    overflow: hidden;
    margin: 0;
}


#buttonContainer {
    background: var(--vscode-editorWidget-border);
    display: flex;
    height: 40px;
    padding: 10px;
}
#buttonContainer h3 {
    align-self: center;
    flex-grow: 1;
    padding: 0;
}

#buttonContainer button {
    margin-left: 5px;
}


#paramList {
    max-width: 250px;
    max-height: 400px;
    overflow-y: scroll;
    list-style: none;
    padding: 0px 10px;
}

#paramList li {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    align-items: center;
}

#paramList li label {
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

#paramList li input[type=text] {
    max-width: 100px;
}

#paramList li select {
    max-width: 100px;
}

#paramList li input[type=checkbox] {
    outline: none;
}