body {
	background-color: transparent;
}

#run-box {
	display: flex;
	justify-content: space-between;
	padding: 0.2em 0 0.4em 0;
}

#run-box select {
	margin-right: 1em;
}

#run-box button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: var(--input-margin-vertical) 0.8em;
}

#run-box button:focus {
	outline: none;
}

ul.option-list {
	list-style: none;
	padding: 0;
}

ul.option-list li {
	padding: 0.15em 0;
	display: flex;
	justify-content: space-between;
    align-items: center;
    height: 2.5em;
}

ul.option-list li input.name {
	vertical-align: middle;
	width: 70%;
}

ul.option-list li div.value {
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
    align-content: space-between;
}

ul.option-list li div.value input.value,
ul.option-list li div.value select.value {
	width: 100%;
    vertical-align: middle;
    margin: 0;
    height: 100%;
}

ul.option-list li div.value input.value[type='checkbox'] {
	width: 12.8px;
    height: 12.8px;
    margin-left: calc(50% - 6.4px);
}

ul.option-list li div.value input.value[type='checkbox']:focus {
	outline: none;
}

ul.option-list li label.name {
	vertical-align: middle;
	width: 70%;
	text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
}

ul.option-list li div.value button.revert {
	padding: 1px 6px;
	margin-left: auto;
	width: fit-content;
    align-items: center;
	height:100%;
    display: flex;
	background-color: var(--vscode-button-secondaryBackground);
}

ul.option-list li div.value button.revert:hover {
	background-color: var(--vscode-button-secondaryHoverBackground);
}

ul.option-list li div.value button.revert:focus {
	outline: none;
}

h3 {
	font-size: 11px;
	min-width: 3ch;
	font-weight: 700;
    text-transform: uppercase;
	user-select: none;
}

.pane-view h3.title {
	padding-top: 0;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
	left: var(--container-paddding);
    position: absolute;
}


.pane-view .pane > .pane-body {
	margin: 0 var(--container-paddding) 0 var(--container-paddding);
	height: 0;
	transition: height 80ms ease-in,
				margin 80ms ease-in;
	overflow: hidden;
}

.pane-view .pane>.pane-header {
	position: relative;
    height: 22px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;
	line-height: 22px;
}

.codicon::before {
	transition: transform 80ms ease-in;
	display: block;
}

.pane-header > .codicon-chevron-down::before {
	content: '\eab6';
	transform: rotate(90deg);
}

.pane-header .codicon-chevron-down,
.pane-header .codicon-chevron-right {
	margin-left: 2px;
}

.pane-header .codicon.revert {
	position:absolute;
	right:0;
}

.pane-view .pane {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pane-view {
    width: 100%;
	padding-right: var(--container-paddding);
	position: absolute;
	left:0;
}

.pane .pane-header .codicon.revert.hidden,
ul.option-list li div.value button.revert.hidden {
	display: none;
}

#clear-tool-problems {
	position: absolute;
    right: var(--container-paddding);
    top: 0.5em;
	cursor: pointer;
}
