<meta charset="utf-8">
<link rel="stylesheet" href="theme.css?">

                **User manual**
              Design project group 14
          <span id="date"></span>

****************************************************
*                          .--------.              *
*                         /          \             *
*                        /            \            *
*                       /              \           *
*            .--------. \              /           *
*           /          \ \            /            *
*          /            \ \          /             *
*         /              \ '--------'              *
*         \              / .--------.              *
*          \            / /          \             *
*           \          / /            \            *
*            '--------' /              \           *
*                       \              /           *
*                        \            /            *
*                         \          /             *
*                          '--------'              *
****************************************************
Introduction
============
This is the user manual for the Modest Toolset VSCode extension. It will go in-depth about the installation process and each feature of the extension.

Installation
============
Before installing the Modest Toolset VSCode extension make sure you have downloaded the Modest Toolset and extracted it somewhere.

Start by installing the Modest Toolset VSCode extension from the VSCode marketplace or by adding the provided vsix file to your workspace, right-clicking it and clicking `Install Extension VSIX`.

After the extension has been installed open a modest file or the extension's sidebar. You will get an error message with a button that will take you to the settings. There you should enter the location where you installed the Modest Toolset. Make sure to provide the path to the executable itself, called `modest.exe` on Windows and `modest` on Linux and macOS.

!!! WARNING
    On macOS, you may need to allow the Modest Toolset executable to run in the settings if you are not using a notarized version

## Optional: Enabling the DOT viewer (Graphviz)
To be able to use the DOT viewer you need to [install Graphviz](https://graphviz.org/download/). If Graphviz was added to your `Path` environment variable it should be possible for the extension to find it. If that is not the case edit the `Externals.defaults` file in the Modest Toolset installation location and set the `dot-path` option to the proper Graphviz directory.


Features
========
- Syntax highlighting
- Error highlighting
- Brace matching/collapsing
- Autocomplete keywords
- Autocomplete variables
- Display the structure of a file in an outline
- Display information about certain words when hovering over it
- Renaming of variable, function and process names (see section [Renaming symbols])
- Code formatting
- Code snippets
- Refactoring support (extract constant/function/process/variable, surround with if/while/etc..) (see section [Refactoring])
- Document symbol highlighting
- Graphical user interface to run tools on files (see section [Running tools])
- Automatically extract all possible parameters of every tool and populate the sidebar with corresponding input boxes to set these parameters (see section [Parameters])
- Display a DOT file generated by Modest for the current file, updated in real-time (see section [DOT view])
- Process output to allow it to be interactively shown (see section [Analysis Results])

Usage
=====
This section explains how to use some of the more complicated features of the Modest extension. For an explanation of the more common language features that are implemented by the extension refer to the [Visual Studio Code documentation](https://code.visualstudio.com/docs).

## Running tools
The sidebar, found by clicking the Modest Toolset logo in the bar on the left, is used to run tools from the Modest Toolset on your files. Figure [sidebar] shows the sidebar in action.

![Figure [sidebar]: The sidebar.](images/sidebar.png style="max-width:50%")

### Tool selection
Next to the run button, there is a dropdown that is automatically populated with the available tools. Selecting a tool will change the options available in the expandable sections below the dropdown.

### Open constants and extra parameters
Below the tool selection, there is an expandable section containing the constants in your file that do not have an assigned value. The values specified here will be passed to the tool using its experiment parameter. Below the open constants section, there is a section where additional parameters like intervals for sampling expressions may be provided. The open constants and extra parameters are saved for each file separately.

### Parameters
Below the additional parameters section, the tool-specific parameters are shown. The available parameters are automatically gathered from your Modest Toolset installation. The parameters are saved for each tool separately. Categories and individual will show revert buttons when their content is not equal to the default.

### Run progress
When a tool run is in progress a progress bar (Figure [progress_bar]) is shown in the bottom right of the screen. It shows the current state of the tool run and also provides a cancel button. The cancel button will cancel the tool run as quick as possible. While the progress bar disappears immediately, depending on the tool it may take a while before it finishes running. To see further tool run progress updates, even after clicking cancel, check out the Modest Extension section in the output window.

![Figure [progress_bar]: An example of a tool run that is in progress.](images/progress_bar.png)

### Tool problems
Tool runs can generate warnings and errors, these are shown in the problems window (Figure [problems]) and as highlights in the document. Individual tool problems can be dismissed by choosing the quick fix option or selecting the appropriate option in the right-click menu. There are also quick fixes for dismissing all the tool problems in the file or simply all tool problems in general. The latter can also be done using the `Clear tool problems` button in the top right of the sidebar.

![Figure [problems]: The problems window in action.](images/problems.png)


## DOT view
When a Modest file is opened a button will appear on the top right which opens the DOT view (Figure [dot_view]). This button will open a side-by-side view of the currently opened file and a DOT file generated by the Modest Toolset. You can also `Alt+Click` on the button open the DOT view in a regular, larger window.

The generated DOT is updated automatically when the original file is saved and there are no errors present.

You can copy and/or save the generated DOT/svg by choosing the option in the context menu in the upper right corner.

![Figure [dot_view]: The DOT view.](images/dot_view.png)

### Navigating the DOT view
By clicking and dragging the mouse you can pan around. To zoom the view in and out you can scroll up and down.

You can also zoom in or out by clicking either of the zoom buttons on the top right of the window. If you're lost and can't find the graph (for example by changing one of the DOT options), press the Reset Location button on the top right to reset the view to the initial position.

### DOT Options
To open the DOT options (Figure [dot_options]), press the button with the cog in the top right of the DOT view. In the DOT view, you'll see a minimise button to close the options again and a reset button to revert all the changed parameters.

You can change some aspects of the generated DOT by changing the parameters in the DOT options. Similar to the sidebar's options, these parameters are the same as the Toolset's. These options allow you to change things like hiding the entire behaviour in a node or flattening the model.

![Figure [dot_options]: The DOT options window.](images/dot_options.png)


## Analysis Results
There are two ways to view analysis results in the Analysis Results View (Figure [analysis_results]). You can open a results JSON file or you can run a tool on a Modest file. There is also a second view, which is called the Analysis Results Comparison View. Here you can also open a results JSON file or you can copy the results from the Analysis Results view.

In the analysis view's context menu, you can:
- Save results to a JSON or text file.
- Open older analysis results.
- Move analysis results to the Comparison View.
- Open the JSON file directly in the editor.
- Clear the view.

By right-clicking on an item in the view you can:
- Copy the item, which copies a text representation of the item.
- Copy the value of an item, if there is one.
- Open the value directly in the editor.
- Highlight item is to quickly see where an item is located in the tree.
- Plot values (such as CDF).

![Figure [analysis_results]: An example of analysis results being shown in the Analysis Results View.](images/analysis_results.png)

### Plot View
Some analysis results values, such as CDFs, can be plotted. These plots can be displayed in a Plot View, by right-clicking on an item and selecting the option 'Plot value'. At the moment, plots can only be opened in separate views. Plots can be saved by pressing the save button in the top bar of the window on the right side.

![Figure [plot_view]: A plot of the CDF of `QueueOverflowProbMax` is created by right-clicking on the item in the Analysis Results View.](images/plot_view.png)

## Refactoring
Refactoring options are accessed by selecting modest code, right-clicking, and selecting "Refactor..." in the dropdown menu (keyboard shortcut: `Ctrl+Shift+R`).

### Refactoring options
- You can surround your selection with an if, while, block -statement or surround it with parenthesis.
- There are also options to extract your selection to a constant, function, process, or variable. This can be extracted to the current scope, or to the main scope (if you are not in the main scope already)

There will be no refactoring options if your selection is empty, or if your selection is entirely within a comment.

## Renaming symbols
You can rename symbols by selecting a symbol, right-clicking, and selecting "Rename Symbol" in the dropdown menu (keyboard shortcut: `F2`).
Once you enter a new name it will change all occurrences of the symbol selected.

![Figure [rename_symbols]: The rename symbols feature in action.](images/rename_symbol.png)


<script>
window.markdeepOptions = {onLoad: function() {
    document.getElementById("date").innerText = new Date().toISOString().split("T")[0];
    document.querySelectorAll("div.image").forEach(div => {
        div.replaceChild(div.children[0].children[0], div.children[0]);
        const caption = div.querySelector("span.imagecaption");
        if (caption !== null) {
            const target = caption.querySelector("a.target");
            div.parentElement.insertBefore(target, div);
        }
    });
}};
</script>

<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
